@import ../Mixins
    
// loading styles
.loading
  font-size: 26px
  display: flex
  align-items: center
  justify-content: center
  height: 80vh
  font-family: $main-font
  
  p
    padding-right: 2px

  span:nth-child(2)
    @include loading-animation(0s)
  
  span:nth-child(3)
    @include loading-animation(.2s)

  span:nth-child(4)
    @include loading-animation(.4s)

  
// form submit info styles
.form-main .modal
    position: absolute
    

.error-modal-an-enter
    opacity: 0

.error-modal-an-enter-active
    opacity: 1
    transition: opacity 500ms

.error-modal-an-exit
    opacity: 1

.error-modal-an-exit-active
    opacity: 0
    transition: opacity 500ms


.success-modal-an-enter
    opacity: 0

.success-modal-an-enter-active
    opacity: 1
    transition: opacity 500ms

.success-modal-an-exit
    opacity: 1

.success-modal-an-exit-active
    opacity: 0
    transition: opacity 500ms


.form-main-enter
    opacity: 0

.form-main-enter-active
    opacity: 1
    transition: opacity 500ms

.form-main-exit
    opacity: 1

.form-main-exit-active
    opacity: 0
    transition: opacity 500ms