input
  margin: 15px 0
  font-family: $main-font
  font-size: 18px

.input-main
  padding: 10px

.input-submit
  margin-top: 25px
  padding: 10px 0
  background: none
  border: 1px solid gray
  border-radius: 5px
  font-family: $main-font
  font-size: 18px