.admin-main
    flex-direction: column
    justify-content: center
    width: 60%
    
.admin-nav
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: row
    padding: 20px

.admin-nav-link
    text-decoration: none
    color: black
    font-size: 22px
    font-family: $logos-font
    white-space: nowrap
    margin: 0 40px
    
.nav-top-adm
    position: relative

.border-container
    // box-shadow: 0 0 4px 0 rgba(0,0,0,0.2)
    border: 2px solid lightgray
    // border-radius: 5px
    margin: 30px 0
    // background-color: rgb(246,246,246)

#dashboard
    width: 100%
    flex-direction: row
    
.flex
    display: flex
    flex-wrap: wrap

.n-padding
    padding: 0
    margin: 0

.dashboard-item
    flex-wrap: nowrap
    align-items: center
    justify-content: center
    flex-direction: column
    width: 45%
    height: 350px
    padding: 30px
    border: 2px solid lightgray
    // border-radius: 15px
    // box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)

    span
        text-align: center

.dashboard-row
    width: 100%
    flex-direction: row
    flex-wrap: nowrap
    