form
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
  display: flex
  align-items: center
  flex-direction: column
  flex-wrap: wrap
  font-size: 18px

.form-title
  text-align: center

input
  margin: 15px 0
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
  font-size: 18px

.input-main
  padding: 10px

.input-submit
  margin-top: 25px
  padding: 10px 0
  background: none
  border: 1px solid gray
  border-radius: 5px
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
  font-size: 18px

.form-main
  display: flex
  justify-content: left
  flex-direction: column
  margin-top: 30px

#image
  border: 1px solid gray
  padding: 100px 0 100px 10px
  overflow: hidden

#description
  border: 1px solid gray
  height: 100px
  padding: 10px
  font-size: 18px
