$main-font: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
$second-font: "Roboto", "Helvetica", "Arial", sans-serif
$logos-font: 'Inconsolata', monospace
$main-color: #1E2327
$second-color: #90caf9
    
@import ./Mixins
@import ./Media
@import ./Animations
@import ./App
@import ./Pages/Main
@import ./Pages/Form
@import ./Pages/Admin